{{template "top" .}}
<div class="container-article">
  <div class="container-article-ch1">
    <!--Post Content-->
    <article>
      {{.HTMLBody}}
    </article>
    <!--/ Post Content-->
  </div>
</div>
{{template "bottom" .}}